@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  font-family: "Josefin Sans", sans-serif !important;
}
body {
  background-color: #15141b;
}
.videoThum {
  top: 0rem;
  transition: all 0.5s;
}
.videoCard {
  transition: all 0.5s;
}

.videoCard:hover .videoThum {
  top: -1.25rem;
}
.channelMenu {
  border-radius: 1rem;
  transition: all 0.5s;
}
.channelMenu:hover {
  border-radius: 40% 10% 40% 10%;
}
.channelMenu:active {
  border-radius: 40% 10% 40% 10%;
}
.navBarBg {
  background: linear-gradient(
    180deg,
    #15141b,
    #15141b,
    #15141b,
    #15141b,
    #15141bf8,
    #15141bf5,
    #15141bcb,
    transparent
  );
}
.htmlContent p {
  display: block;
  width: 100%;
}
.htmlContent a {
  color: orange;
}
